---
title: "{{ .Title }}"
slug: {{ .Slug }}
datetime: {{ .Datetime }}
summary: |-
  {{ .Summary }}
---

{{ if .Preface }}
> {{ .Preface }}
{{- end }}

{{ if .Summary }}
{{ .Summary }}
{{- end }}

{{ range .Items }}
## [{{ .Title }}]({{ .URL }})

{{ .Description }}

* {{ .Replies }} Replies - [{{ .NodeName }}]({{ .NodeURL }}) - {{ .Created }}*
{{ end -}}

---

{{ if .Postscript }}
> {{ .Postscript }}
{{ end }}
