[Unit]
Description=Quaily Journalist Service
After=network.target

[Service]
User={USRE_NAME}
Group={GROUP_NAME}
Type=simple
WorkingDirectory={PATH}
ExecStart={PATH}/quaily-journalist serve --config {PATH}/config.yaml
Restart=on-failure
Restart=on-failure
StartLimitInterval=10
StartLimitBurst=10
RestartSec=1s
Type=simple
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
